<h2 mat-dialog-title>{{ titulo }}</h2>

<mat-dialog-content class="mat-typography">

    <div class="container pt-2">
        <form [formGroup]="formLaboratorio">

            <div class="row mb-3">
                <div class="co--12">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Nombre Laboratorio</mat-label>
                        <input formControlName="nombre" matInput type="text" required>
                    </mat-form-field>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12 col-md-6">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Dirección</mat-label>
                        <input formControlName="direccion" matInput type="text" required>
                    </mat-form-field>
                </div>

                <div class="col-12 col-md-6">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Teléfono</mat-label>
                        <input formControlName="telefono" matInput type="text" required placeholder="912345678">
                    </mat-form-field>
                </div>
            </div>


            <div class="row mb-3">
                <div class="col-12 col-md-6">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Correo</mat-label>
                        <input formControlName="correo" matInput type="text" required>
                    </mat-form-field>
                </div>

                <div class="col-12 col-md-6">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Especialidad</mat-label>
                        <input formControlName="especialidad" matInput type="text" required>
                    </mat-form-field>
                </div>
            </div>

        </form>
    </div>

</mat-dialog-content>


<mat-dialog-actions align="end">
    <button (click)="agregarEditarLab()" [disabled]="formLaboratorio.invalid" class="btn btn-primary btn-lg px-3 me-md-2">
        {{ nombreBoton }}
    </button>

    <button mat-dialog-close class="btn btn-secondary btn-lg px-3 me-md-2">
        Cerrar
    </button>
</mat-dialog-actions>